.discoveryNightsView .box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr)); /* Créez des colonnes dynamiques avec une largeur minimale de 300px */
    gap: 20px;
    justify-content: space-around;
}

.discoveryNightsView .soiree {
    min-width: 250px;
    max-width: 400px;
    width: fit-content;
    min-height: 150px;
    padding: 0px 10px;
    margin: 0px auto;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    background: transparent;
    color: white;
    overflow-wrap: break-word;
    background: linear-gradient(to right, #002663, #4C5CC5);
    flex-basis: calc(33.33% - 40px);
}

.discoveryNightsView .soiree .data {
    text-align: left;
}

.discoveryNightsView .soiree .btnModify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.discoveryNightsView .soiree .nightForm form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2%;
    margin-left: 1%;
}

.discoveryNightsView .soiree .nightForm form .form-group {
    margin: 8px 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discoveryNightsView .soiree .nightForm form .form-group input {
    width: 10vw;
}

.discoveryNightsView .soiree .nightForm form .form-group select {
    color: white;
    background: transparent;
}
.discoveryNightsView .soiree .nightForm form .form-group select option{
    color: black;
    background: white;
}


.discoveryNightsView button {
    max-width: 100px;
    min-width: 100px;
    min-height: 35px;
    margin: 0% auto 3%;
    background: none;
    border: solid white 2px;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.7s;
}

.discoveryNightsView .otherBtn {
    margin-top: 25px;
}

@media screen and (max-width: 750px) {
    .discoveryNightsView .box {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .discoveryNightsView .soiree {
        margin: auto;
    }

    .discoveryNightsView .soiree .nightForm form .form-group input {
        width: 30vw;
    }
    
}