.infoView .custom-tab-list {
    margin: 2% 0%;
}

/**************************** Début pour gérer les Tab ****************************/
.infoView .custom-tab-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 5%;
    margin: 5% auto;
    padding: 0px;
}

.infoView .custom-tab {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
}

.infoView .custom-tab.react-tabs__tab--selected {
    color: black;
}

@media screen and (max-width: 495px) {
    .infoView .custom-tab-list {
        display: flex;
        list-style-type: none;
        gap: 10px;
        margin: 5% auto;
        padding: 0px;
        flex-direction: column;
        width: fit-content;
    }
}