.infoView .custom-tab-list {
    margin: 2% 0%;
}

/**************************** Début pour gérer les Tab ****************************/
.infoView .custom-tab-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    list-style-type: none;
    margin-bottom: 3%;
    gap: 5%;
}

.infoView .custom-tab {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
}

.infoView .custom-tab.react-tabs__tab--selected {
    color: black;
}