.profileForm {
    width: 70%;
}

.profileForm .boxs {
    display: flex;
    margin: 7% 0%;
    justify-content: space-between;
}

.profileForm .boxInfo {
    border: 1px solid white;
    border-radius: 15px;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
}


.profileForm .boxInfo .info{
    text-align: left;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.profileForm .boxInfo .info input {
    width: 150px;
    border: none;
}

.profileForm .boxInfo .info select {
    background: white;
    width: 154px;
    border: none;
    color: black;
}
