@font-face {
	font-family: 'Olive';
	src: url('../../../../Logo_FJM/polices/OlivessansPimiento.ttf')
}

.navBar{
    font-family: 'Olive';
    overflow: hidden;
    top: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    opacity: 0.99;
}

.navBar .navigation {
    padding: 3vh 4vw;
    display: flex;
    align-items: center;
}

.navBar .navigation .current{
    position: relative;
    font-size: 1.4em;
    color: rgb(213, 215, 225);
    text-decoration: none;
    font-weight: 500;
    margin-left: 4vw;
    height: min-content;
}

#nav-menu-button {
    position: relative;
    padding: 3vh 4vw;
    font-size: 1.4em;
    color: rgb(193, 195, 206);
    text-decoration: none;
    font-weight: 500;
    margin-left: 4vw;
    height: min-content;
}

.navBar .navigation .monprofil{
    position: relative;
    left: 18vw;
    font-size: 1.4em;
    color: rgb(193, 195, 206);
    text-decoration: none;
    font-weight: 500;
    margin-right: 4vw;
}

.navBar .navigation .current::after {
    content: '';
    position: absolute;
    left: 0;
    color: rgb(0, 38, 99);
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navBar .navigation .current:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navBar .navigation .current:hover {
    color:white;
}

.navBar .navigation .monprofil:hover {
    /*color:rgb(0, 38, 99);*/
    color: white;
}

.navBar .navigation .monprofil::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navBar .navigation .notification::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #FA14FF;
    border-radius: 50%;
    margin-bottom: 8px;
  }

.navBar .navigation .logo{
    height: 10vh;
    position:initial;
}

.navBar .navigation .monprofil:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}


/*Affichage mobile*/
@media screen and (max-width: 700px) {
    .navBar .navigation .btnLogin-popup {
        margin-left: 120px;
    }

    .navBar .navigation{
        display: none;
    }
}

/*Affichage PC*/
@media screen and (min-width: 701px) {
    #nav-menu-button {
        display: none;
      }
    
    }

@media screen and (max-width: 1450px) {
    .navBar .navigation .monprofil{
        margin-right: 4vw;
        font-size: 1.2em;
    }

    .navBar .navigation .current{
        margin-left: 1.5vw;
        font-size: 1.2em;
    }
    
}

@media screen and (max-width: 1050px) {
    .navBar .navigation .monprofil{
        margin-right: 4vw;
        font-size: 0.8em;
    }

    .navBar .navigation .current{
        margin-left: 1vw;
        font-size: 0.8em;
    }
    
}
