@font-face {
	font-family: 'Olive';
	src: url('../../../../Logo_FJM/polices/OlivessansPimiento.ttf')
}

.navBar{
    font-family: 'Olive';
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    opacity: 0.99;
}

.navBar .navigation {
    padding: 20px 50px;
}

.navBar .navigation .current{
    position: relative;
    font-size: 1.4em;
    color: rgb(76, 92, 197);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navBar .navigation .monprofil{
    position: absolute;
    right: 0;
    font-size: 1.4em;
    color: rgb(76, 92, 197);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navBar .navigation .current::after {
    content: '';
    position: absolute;
    left: 0;
    color: rgb(0, 38, 99);
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(0, 38, 99);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navBar .navigation .current:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navBar .navigation .current:hover {
    color:rgb(0, 38, 99);
}

.navBar .navigation .monprofil:hover {
    color:rgb(0, 38, 99);
}

.navBar .navigation .monprofil::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(0, 38, 99);
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navBar .navigation .monprofil:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}